.chip {
  font-size: 0.7rem;
  background: linear-gradient(to right, #ff0088, #ff94b6);

  color: #fff8f0;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  width: fit-content;
  text-transform: capitalize;
}
